/* Normalize CSS */

/* Font - Fontshare*/
@import url('https://api.fontshare.com/v2/css?f[]=bespoke-serif@400&f[]=tanker@400&f[]=teko@500&display=swap" rel="stylesheet');
@import url("https://api.fontshare.com/v2/css?f[]=ranade@300&f[]=excon@500&f[]=bespoke-stencil@700&display=swap");
@import url('https://wallpaper.forfun.com/fetch/91/919d37023938c4538b44c7ef5268186d.jpeg');




/* Header */
.masthead {
    text-align: center;
    
}

.site-title {
    text-align: center;
    color: #ffffff;
    text-shadow:
      0 0 5px #ffffff,
      0 0 10px #ffffff;
    font-family: 'Tanker', sans-serif;
    font-size: 10em;
}



.name {
    text-align: center;
    color:yellow;
    text-shadow:
      0 0 5px yellow;
    font-family: 'Bespoke Stencil', sans-serif;
    font-size: 4em;
    margin: 0;


}




p {
    font-family: 'Bespoke Serif', serif;
    color: white;
    text-align: center;
    padding: 1em;
}


body {
background: linear-gradient(to right, hsl(-0deg, 100% ,45%), hsl(300deg, 3%, 6%));
background-image: url('https://wallpaper.forfun.com/fetch/91/919d37023938c4538b44c7ef5268186d.jpeg');
  background-size: cover;
  background-position: center;
}





/* Header */
img {
    display: block;
    border: 0;
    width: 50%;
    height: auto;
    margin: 5em 1em 1em 7em;
  }
    

.cards {
margin: 0;
padding: 2em;
list-style-type: none;

}

.cards a {
display: block;
margin-bottom: 5em;
text-decoration: none;
}

.card-item {

    background-color: rgb(21, 21, 29);
    border: 5em;
    border-color: white;

}

.icon {
    transform: scale(.2);
    margin: 0;
    position: relative;
    padding: 0;
    /* top: 10px;
    right: 800px; */
}


.card-item:hover { 
     background: linear-gradient(-45deg, #ffe600, #000000, #642020, #ffffff);
	background-size: 400% 400%;
	animation: gradient 7s ease infinite;
    border: 5em;
     transform: scale(1.05); 
  transition: transform 0.3s ease;
  box-shadow: rgb(247, 247, 247) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
    
    
}

    




.caption {
padding: 2em;
background: hsla(246, 40%, 30%, 0.6);
color: white;
font-size: 1.2em;
transition: all 0.4s;
}

a:focus .caption,
a:hover .caption {
background: hsla(246, 40%, 30%, 1);
}

.caption-title {
margin: 0;
font-size: 1.4em;
line-height: 1.1em;
}

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@media screen and (min-width: 30em) {
.cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

.cards a {
    margin-bottom: 0;
}

.card {
    display: grid;
    
}

.card img,
.caption {
    grid-column: 1;
    grid-row: 1;
}

.caption {
    display: flex;
    flex-direction: column;
    opacity: 0;

    /* Alignment */
    /*     align-items: flex-end; */
    /*     justify-content: flex-end; */
}

a:focus .caption,
a:hover .caption {
    background: hsla(246, 40%, 30%, 0.6);
    opacity: 1;
}
}

@media screen and (min-width: 60em) {
.cards {
    grid-template-columns: repeat(4, 1fr);
}
}
